        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            background: linear-gradient(135deg, #f3a0e8, #c0ca379a);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }

        .todo-container {
            background: #fff;
            width: 360px;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 25px;
        }

        h1 {
            text-align: center;
            color: #b97a1a;
            margin-bottom: 20px;
        }

        .input-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        input {
            flex: 1;
            padding: 10px;
            border: 2px solid #d3d014;
            border-radius: 8px;
            outline: none;
            font-size: 15px;
        }

        button {
            margin-left: 10px;
            padding: 10px 15px;
            background: #a1610d;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background: #706902;
        }

        ul {
            list-style: none;
            max-height: 300px;
            overflow-y: auto;
        }

        li {
            background: #b8b2b771;
            padding: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            transition: 0.3s;
        }

        li.completed {
            text-decoration: line-through;
            background: #d4edda;
            color: #155724;
        }

        .delete-btn {
            background: red;
            color: white;
            border: none;
            border-radius: 6px;
            padding: 5px 8px;
            cursor: pointer;
        }

        .footer {
            text-align: center;
            margin-top: 15px;
            font-size: 13px;
            opacity: 0.7;
            color: rgb(165, 91, 42);
        }