    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      background: linear-gradient(135deg, #9bebcc, #d393b8);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background: rgba(255, 255, 255, 0.1);
      padding: 30px;
      border-radius: 15px;
      width: 350px;
      text-align: center;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    h1 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    label {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
    }

    input[type="date"] {
      padding: 10px;
      border: none;
      border-radius: 10px;
      width: 100%;
      font-size: 15px;
      margin-bottom: 20px;
    }

    button {
      padding: 10px 20px;
      background-color: #b375af;
      border: none;
      border-radius: 8px;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background-color: #f1ceeacc;
    }

    .result {
      margin-top: 20px;
      font-size: 18px;
    }

    .footer {
      margin-top: 30px;
      font-size: 13px;
      opacity: 0.7;
      color: rgb(31, 26, 21);
      font-weight: bold;
    }